.hover-animation {
    --hover-translate-base-distance: 150%;
    --hover-translate-x: 0%;
    --hover-translate-y: calc(-1 * var(--hover-translate-base-distance));
    $root:&;
    
    &__wrapper {
        overflow: hidden;
        display: flex;

        &--text {
            --hover-translate-base-distance: 100%;
        }
        &--align-right {
            text-align: right;
            
            #{$root}__item--second {
                right: 0
            }
        }
    }
    &__item {
        flex: 1;
        text-wrap: nowrap;
        transition: transform var(--default-animation-duration) var(--alias-default-ease); 

        &--second{
            position: absolute;
            width: 100%;
        }
    }
    &--to{
        &-top {
            --hover-translate-x: 0%;
            --hover-translate-y: calc(-1 * var(--hover-translate-base-distance));
            #{$root}__item--second  {
                top: var(--hover-translate-base-distance);
            }
        }
        &-right {
            --hover-translate-x: var(--hover-translate-base-distance);
            --hover-translate-y: 0%;
            #{$root}__item--second  {
                right: var(--hover-translate-base-distance);
            }
        }
        &-bottom {
            --hover-translate-x: 0%;
            --hover-translate-y: var(--hover-translate-base-distance);
            #{$root}__item--second  {
                bottom: var(--hover-translate-base-distance);
            }
        }
        &-left {
            --hover-translate-x: calc(-1 * var(--hover-translate-base-distance));
            --hover-translate-y: 0%;
            #{$root}__item--second  {
                left: var(--hover-translate-base-distance);
            }
        }
    }
    &:hover {
        #{$root}__item  {
            transform: translate(var(--hover-translate-x), var(--hover-translate-y));
        }
    }
}