.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: var(--color-neutral-900);
}

.img-wrapper {
    width: 100%;
    overflow: hidden;

    &--radius{
        border-radius: 1rem;
    }
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: var(--color-neutral-900);
}